@using Project.Core.Objects;
@using PagedList.Mvc;
@model PagedList.IPagedList<Project.Core.Objects.Vacancy>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = Session["Login"] as User;
}

<h2 class="text-center">Vacanies Management</h2>
@using (Html.BeginForm())
{
    <input type="search" placeholder="Search by name" name="search" required />
    <input type="submit" value="Search" />
}
<br />
<p>
    @Html.ActionLink("Create New", "Create") || @Html.ActionLink("Doing", "StatusDoing") || @Html.ActionLink("Pause", "StatusPause") || @Html.ActionLink("Stop", "StatusStop") || @Html.ActionLink("Owner", "Owner")
</p>
<hr />
<table class="table">
    <tr>
        <th>
            Department
        </th>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Language
        </th>
        <th>
            Location
        </th>
        <th>
            Salary
        </th>
        <th>
            Experience
        </th>
        <th>
            Posted
        </th>

        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @((item.Status == 0)?"Doing":(item.Status==1)?"Pause":"Stop")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                @if (user != null && item.Status != 2)
                {
                    if (item.CreateBy == user.Id)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                    }
                }
                @Html.ActionLink("Details", "DetailsVacancy", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@if (ViewBag.Title == "List")
{
    @Html.PagedListPager(Model, Page => Url.Action("List", new { Page }))
}
else if (ViewBag.Title == "StatusDoing")
{
    @Html.PagedListPager(Model, Page => Url.Action("StatusDoing", new { Page }))
}
else if (ViewBag.Title == "StatusPause")
{
    @Html.PagedListPager(Model, Page => Url.Action("StatusPause", new { Page }))
}
else if (ViewBag.Title == "StatusStop")
{
    @Html.PagedListPager(Model, Page => Url.Action("StatusStop", new { Page }))
}
else if (ViewBag.Title == "Owner")
{
    @Html.PagedListPager(Model, Page => Url.Action("Owner", new { Page }))
}